In [1]:
import numpy as np
import pandas as pd

# 저자

- TA: 성준모 (Joonmo Sung)
- SYSTEMS MODELING AND PROGRAMMING LAB DEPARTMENT OF INDUSTRIAL ENGINEERING, YONSEI UNIVERSITY - SYMPLY
- 문의: `sjm21314@naver.com`,`sjm21314@yonsei.ac.kr`
***
본 강의자료는 Keha,A. B.,Khowala,K.,&Fowler,J. W. (2009). Mixed integer programming formulations for single machine scheduling problems. Computers & Industrial Engineering, 56(1), 357-367 논문을 바탕으로 제작되었으며,

반도체데이터사이언스 협동과정 수업 용도 이외의 목적으로 저자의 허락 없이 다른 사람들과 공유할 수 없습니다.

In [2]:
n = 10  # 작업 개수

In [8]:
# random seed를 정해줌. 고정시 계속 같은 data가 만들어짐
np.random.seed(42)

random_example = np.random.randint(1, 10, size = n)
random_example

array([7, 4, 8, 5, 7, 3, 7, 8, 5, 4], dtype=int32)

In [13]:
uniform_example = np.random.randint(1, 2, size = n) # 실제 [1, 2] 하려면 코드는 1, 3으로 해야 함
uniform_example

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)

In [15]:
# L, R은 임의로 고름
L = 0.5 # {0.5, 0.7} 중 하나를 고르면 됨. release 데이터에서는 0.5로 고정
R = 0.8 # {0.4, 0.8, 1.4} 중 하나를 고르면 됨
Q = 0.4 # Q는 0.4로 고정

# Random generation 코드
p = np.random.randint(1, 101, size=n) # processing time은 [1, 100] uniform 분포 따름
w = np.random.randint(1, 11, size=n) # weight은 [1, 10] uniform 분포 따름
d = np.random.randint(int(sum(p)*(L-R/2)), int(sum(p)*(L+R/2)) + 1, size = n) # [P(L - R/2), P(L + R/2)] 분포를 따름
r = np.random.randint(0, int(Q * sum(p)) + 1, size=n) # [0, QP] 분포를 따름

In [16]:
# data 정보 저장한 dataframe 생성
df = pd.DataFrame({
    'N': np.arange(0, n),
    'p': p,
    'w': w,
    'd': d,
    'r': r
})

In [17]:
df

   N   p   w    d    r
0  0  24   5  162   80
1  1   3   1  166   49
2  2  22  10   52  103
3  3  53   6  198    1
4  4   2   9  120   53
5  5  88   1   45  105
6  6  30  10  273    3
7  7  38   3   84   53
8  8   2   7  123   43
9  9  64   4   66   13

In [18]:
# 데이터 사용 방법
# 1. 위 코드로 데이터 생성 후 바로 cvxpy or gurobi code 만들기

# 2. 위 데이터 저장 후 다른 파일에서 불러온 후 사용
# df.to_excel('Data.xlsx', index = False) # data를 xlsx 파일로 저장
# df.to_csv('Data.csv', index = False) # data를 csv 파일로 저장
# df.to_json('Data.json', indent = 2) # data를 json 파일로 저장